@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

:root{
    --blue:#BFD1D9;
    --gray:#8D9FA6;
    --yellow: #D9AE5F;
    --font: #404040;
    --box: #595959;
    --fontGray: #D9D9D9;
    /* --pagenumber: #ecce95; */
    --box-shadow:0 5px 15px rgba(0,0,0,.2); 
    --border: .2rem solid var(--fontGray); 
}

*{
    font-family: 'Quicksand', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    /* text-transform: capitalize; */
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 7rem;
}

body {
    overflow-x: hidden;
}

section{
    padding: 7rem 2rem;
}

/* Header-Logo and Time */
header{
    padding: .5rem 5%;
    background: #ffff;
    border-bottom: var(--border);
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow:0 .1rem 15rem var(--fontGray);
    z-index: 1000;
}

.timetable .date{
    margin: 0 1rem;
    font-size: 1.5rem;
}

.timetable .time{
    margin: 0 1rem;
    font-size: 2.5rem;
}

/* Home Section */
.sheet {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
    padding-left: 15%;
    padding-right: 15%;
    position: absolute;
    /* background-color: #D9AE5F; */
    width: 100%;
}

/* Page Number*/
ul {
    position: absolute;
    background: #ffff;
    display: flex;
    padding: 10px 20px;
    border-radius: 20px;
    box-shadow: var(--box-shadow);
    width: fit-content;
    transform: translate(-50%,-50%);
    top: 21%;
    left: 50%;
    align-items: flex-start;
    /* justify-content: center; */
    text-align: center;
    text-decoration: none;
    /* background: var(--pagenumber); */
}
ul li {
    list-style: none;
    line-height: 10px;
    margin: 0 5px;
    font-size: medium;
    text-decoration: none;
}

ul li.pagenumber {
    width: 20px;
    height: 20px;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
}

ul li a {
    display: block;
    text-decoration: none;
    color: var(--font);
    font-weight: 600;
    border-radius: 50%;
}

ul li.pagenumber:hover a,
ul li.pagenumber.active a {
    background: var(--blue);
    color: var(--font);
    text-decoration: none;
}

#current {
    background: var(--blue);
    border-radius: 50%;
}

#current a {
    display: block;
    text-decoration: none;
    color: var(--font);
}

/* Data Person */
#data {
    width: 30%;
    height: 60vh;
    background: var(--blue);
    position: relative;
    box-shadow: var(--box-shadow);
    /* transform: translate(40%,0%); */
    /* align-items: flex-start; */
    justify-content: center;
    text-align: left;
    border-radius: 20px;
    padding: 3%;
}

.kontenData {
    /* background-color: #D9AE5F; */
    color: var(--font);
    justify-items: center;
    margin-top: 20%;
}

.kontenData h1 {
    font-size: 18px;
    font-weight: 550;
}

#dataPasien {
    margin-bottom: 12%;
    font-size: 14px;
}

/* Home section */
.console {
    width: 68%;
    height: 60vh;
    background: var(--blue);
    box-shadow: var(--box-shadow);
    position: relative; 
    display: grid;
    align-items: center;
    justify-content: center;
    border-radius: 20px;
    text-align: center;
    justify-items: center;
}

.console .title{
    align-items: flex-start;
    color: var(--font);
    margin-top: 5%;
    text-align: center;
    font-weight: 500;
    font-size: 30px;
}

.console h3{
    font-size: 18px;
    font-weight: 500;
    margin-top: 2%;
}

.div-audio {
    /* Menghilangkan tampilan panel audio */
    /* display: none;  */
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stopwatch {
    min-height: 40px;
    font-size: 14px;
    font-weight: bold;
    color: var(--font);
    display: flex;
    align-items: center;
    /* margin-top: 5%; */
}

.button {
    /* background-color: #D9AE5F; */
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 60%;
}

.submit {
    background-color: var(--box);
    border: none;
    color: var(--fontGray);
    text-align: center;
    text-decoration: none;
    display: flex;
    padding: 10px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    visibility: hidden;
}

button {
    border: none;
    outline: none;
    margin: 5px 10px;
    cursor: pointer;
    transition: 1s ease-in-out;
}

button:hover {
    transform: scale(1.1);
}

/* button:active {
    transform: scale(0.98);
} */

button.rec {
    width: 50px;
    height: 50px;
    color: #ffffff;
    border-radius: 50%;
    background: #BF3952;
}

button.stop {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    color: white;
    background: #292929;
    /* box-shadow: 4px 4px 8px #232334, -4px -4px 8px #2F2F39; */
}

/* popup messages */
.popup{
    width: 48%;
    height: 60vh;
    top: -150%;
    left: 37%;
    opacity: 0;
    background: var(--blue);
    box-shadow: var(--box-shadow);
    position: absolute;
    transform: scale(1.25);
    align-items: center;
    justify-content: center;
    justify-items: center;
    display: grid;
    text-align: center;
    border-radius: 20px;
    gap: .5em;
    transition: top 0ms ease-in-out 200ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;
}

.popup.active {
    top: 20%;
    opacity: 1;
    transform: scale(1);
    transition: top 0ms ease-in-out 0ms,
                opacity 200ms ease-in-out 0ms,
                transform 200ms ease-in-out 0ms;

}

.popup h1{
    align-items: center;
    color: var(--font);
    margin-top: 5%;
    font-size: 30px;
}

.popup p {
    text-align: justify;
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
    font-size: 18px;
}

.popup button {
    background-color: var(--box);
    border: none;
    color: var(--fontGray);
    text-align: center;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: bold;
    margin-top: 20%;
    width: 20vh;
}

audio {
    /* display: none; */
    outline: none;
    width: 300px;
    height: 50px;
    opacity: 1;
    transition: opacity 3s ease-in-out;
    margin-top: 40%;
}

audio::-webkit-media-controls-play-button {
    background-color: #BF3952;
    border-radius: 50%;
    width:20px;
    height: 30px;
}

audio::-webkit-media-controls-panel {
    background-color: #313131;
    color: #ffffff;
}

audio::-webkit-media-controls-overlay-enclosure {
    display: none;
}

audio::-webkit-media-controls-current-time-display,
audio::-webkit-media-controls-time-remaining-display {
    color: #ffffff;
}

img.home {
    display: block;
    margin: 10px auto;
}

img.reset {
    display: block;
    margin: 10px auto;
}


.devices-status {
    /* Not showing the device status */
    display: none;
    position: absolute;
    bottom: 3%;
    min-height: 13px;
    padding: 8px;
    color: #ffffff;
    background: #292929;
    box-shadow: 4px 4px 8px #232334, -4px -4px 8px #2F2F39;
    opacity: 1;
    visibility: visible;
    transition: 3s ease-in-out;
}

.devices-status.hide {
    opacity: 0;
    visibility: hidden;
    min-height: 0px;
}

.scale {
    animation: scale 3s linear infinite;
}

@keyframes scale {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1);
    }
}

@media (max-width: 768px) {
    h1 {
        font-size: 2rem;
    }
}